###############################################################################
# Project specifics
###############################################################################
assets/
output/
sample/
*.svg

###############################################################################
# Python, temporary, cache, etc.
###############################################################################
__pycache__/
dist/
build/
*.egg-info/
pip-wheel-metadata/
*.py[cod]
*$py.class
*.log
*.tmp
*.swp
*.swo
*.bak
*.orig

###############################################################################
# Virtual envronments, package managers. etc.
###############################################################################
venv/
.env/
.venv/
Pipfile.lock
poetry.lock

###############################################################################
# Editors/IDEs
###############################################################################

# VS/VS Code
.vscode/
*.code-workspace
*.sln
*.vcxproj*

# Eclipse
.project
.classpath
.settings/
.metadata/

###############################################################################
# OSes
###############################################################################

# Windows
Thumbs.db

# macOS
.DS_Store
