###############################################################################
# Project specifics
###############################################################################
output/
*.svg

###############################################################################
# .env
##############################################################################
.env*
!.env.exemple

###############################################################################
# Python, temporary, cache, etc.
###############################################################################
__pycache__/
dist/
build/
*.egg-info/
pip-wheel-metadata/
*.log
*.tmp
*.swp
*.bak

###############################################################################
# Virtual envronments, package managers. etc.
###############################################################################
venv/
env/
.env/
.venv/
Pipfile.lock
poetry.lock

###############################################################################
# Editors/IDEs
###############################################################################
# VS/VS Code
.vscode/
*.code-workspace
*.sln
*.vcxproj*

###############################################################################
# OSes
###############################################################################
# Windows
Thumbs.db

# macOS
.DS_Store
